main {
    display:grid;
    grid-auto-flow: row;
    height: 100%;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 590px 590px 590px;
    align-items: center;
    justify-content: center;
}
.main__card {
    border: solid 1px rgb(242, 242, 242);
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    font-family: 'Inter';
    border-radius:10px;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 582px;
}
.card__content {
    padding: 40px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}
.text__title {
    margin:0;
    margin-bottom: 15px;
}
.text__descripe {
    margin: 2px 0px 2px 0px;
    font-size: 17px;
    width: 75%;
}
.content__price {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}
.cost__buy {
    background-color: rgb(255, 200, 0);
    border: solid 0;
    border-radius:10px;
    font-size: 17px;
    width: 163px;
    height:68px;
}
@media (max-width: 1024px) {
    #menu {
        grid-template-columns: 390px 390px;
        grid-template-rows: 590px 590px 590px 590px 590px;
    }
}