#before1::before {
    content: '- ';
    color: rgb(123, 123, 123);
    font-size: 14px;
}
#before2::before {
    content: "...";
    color: rgb(123, 123, 123);
    font-size: 14px;
}
#after1::after {
    content: "!";
    color: rgb(157, 24, 24);
}
#after2::after {
    content: ":";
    color: rgb(91, 51, 51);
}
#mixed::before {
    content: "This text use ::before";
    color: rgb(42, 26, 95);
    font-style: italic;
}
#mixed::after {
    content: " and ::after";
    color: rgb(95, 26, 26);
    font-style: normal;
    font-weight: 800;
}